[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-pdb = "*"
fabric = "*"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
sentry-sdk = "*"
boto3 = "*"
dj-database-url = "*"
celery = "*"
django-celery-beat = "*"
django-anymail = "*"
django-storages = "*"
django-cors-headers = "*"
django-environ = "*"
django-extensions = "*"
django-filter = "*"
django-guardian = "*"
django-health-check = "*"
django-rest-swagger = "*"
python-decouple = "*"
gunicorn = "*"
flower = "*"
redis = "==2.10.6"
pyyaml = "*"
jinja2 = "*"
pyrsistent = "*"

[requires]
python_version = "3.6"
